.results { width: 250px; height: 200px; overflow-y: scroll; }
.select { border-style: none; height: 100px; }
button { width: 250px; height: 70px; margin: 5px; border-style:none; border-radius: 5px; }
input { width: 245px; height: 40px; border-radius: 5px; border: 1px solid #000000; }
*{font-family: 'Rock Salt', cursive;}
#content { position: absolute; width: 260px; left: 50%; margin-left: -150px; }