.results { width: 250px; height: 200px; overflow-y: scroll; }
.select { border-style:none; }
button { width: 250px; height: 30px; margin: 5px; border-style:none; border-radius: 5px; }
input { width: 250px; height: 30px; border-radius: 5px; border: 1px solid #000000; }
*{font-family: 'Rock Salt', cursive;}