$def with ()

<!DOCTYPE html>

<html>
<head>
	<title>Beer Me Up!</title>
	<script type="text/javascript" src="/static/jquery-last.js"></script>
	<script type="text/javascript" src="/static/behaviour.js"></script>
	<link href='http://fonts.googleapis.com/css?family=Rock+Salt' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" type="text/css" href="/static/style_file.css">
</head>
<body id="content">

		<button id="select_city" class="select">Select a city</button>
		<div id="search_page" class="page">
			<button id="select_place" class="select">Select a place</button>
			<button id="select_beer" class="select">Select a beer</button>		
			<button id="submit_search" class="search_icon">Search</button>
		</div>
		<div id="add_page" class="page" style="display: none">
			<div><input type="text" id="enter_place" value="Enter place"></input></div>
			<div><input type="text" id="enter_beer" value="Enter beer"></input></div>
			<div><select id="beer_type"><option>Select beer type</option><option>bottle</option><option>draught</option><option>N\A</option></select></div>			
			<div><input type="text" id="enter_beer_price" value="Enter beer price"></input></div>
			<button id="add_place_beer" class="add_icon">Add</div></button>
		</div>
		<div>
			<button id="switch_page" class="add_page_icon">Go to Add page</button>
		</div>


		<div class="feedback">
			<button id="feedback_button">Feedback [+]</button>
			<div id="feedback_section" style="display: none">
				<textarea id="enter_feedback"></textarea>
				<div>
					<button id="send_feedback">Send</button>
					<button id="cancel_send_feedback">Cancel</button>
				</div>
			</div>
		</div>
	
</body>
</html>