$def with ()

<!DOCTYPE html>

<html>
<head>
	<title>Admin</title>
	<script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
	<style>
		table, th, td { border: 1px solid black; }
	</style>	
	<script type="text/javascript" src="/static/behaviour_moderate.js"></script>
</head>
<body>
	<p>Add Manually</p>
	<select id="dropdown">
		<option>Select list</option>
		<option>city-name_places_beers</option>
		<option>city-name_places</option>
		<option>beer</option>
	</select>
	<p>Moderate records</p>
	<button id="get_records">Get Records</button>
	<div id="all_keys"></div>
</body>
</html>